* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

header {
  background-image: url("../img/background_cv.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

nav.navbar,
#experience {
  background-color: #556284;
}

.nav-item {
  width: 10rem;
}

.titleName,
#aboutMe,
#contact {
  background-color: #556284;
}

h2 {
  color: #556284;
}

hr {
  height: 1px;
  background-color: #fff;
  opacity: 1;
  border: 1;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.55);
}

.custom-img-jing {
  object-fit: cover;
  width: 600px;
  height: 600px;
}

.btn-contact {
  background-color: #49bcea;
}

.btn-download {
  color: #325284;
  background-color: #eee9e9;
}

.btn-contact:hover {
  background-color: #a6dbf0;
}

.btn-download:hover {
  color: #325284;
  background-color: #fff;
}

.line-formation {
  height: 3px;
  background-color: #556284;
}

.fa-brands {
  font-size: 4rem;
  color: #325284;
}

.fa-github , .fa-linkedin{
  font-size: 2rem;
}
